<div class="container">
  <!-- #normalApproachWithoutEvent <app-cockpit [serverElements]="serverElementsAppCmp"></app-cockpit> -->
  <app-cockpit
    [serverElements]="serverElementsAppCmp"
    (serverCreatedAlias)="onServerAddedInsideCockpit($event)"
    (bluePrintCreated)="onBlueprintAddedInsideCockpit($event)">
  </app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor="let serverElement of serverElementsAppCmp"
        [element]="serverElement"
        aliasOutside="Alias test">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">server: {{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">blueprint: {{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
