<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ title }}</h2>
      <!-- <h4>ngModel test</h4>
      <input type="text" [(ngModel)]="name"> {{ name }}
      <br><br> -->
      <h4>app servers component</h4>
      <div style="border:1px solid; margin:5px; padding: 5px">
        app component
        <app-servers></app-servers>
        <app-warning-alert></app-warning-alert>
        <app-success-alert></app-success-alert>
      </div>
    </div>
  </div>
</div>

